// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$theme-color:(
    "color":#
)

$middle-blue: #86d0e1ff;
$charm-pink: #e78aa3ff;
$raw-sienna: #e68548ff;
$steel-blue: #5089b5ff;
